{% extends "blog/base.html" %}

{% block titles %}
  {{ object.title}}
{% endblock titles %}



{% block contents %}
{% include "blog/partials/navbar.html" %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{{ object.title }}</h1>
          <p class="text-muted">{{ object.author }} | {{ object.created_on }}</p>
          <p class="card-text ">{{ object.contents | safe }}</p>
        </div>
        </div>
    </div>
  </div>
{% endblock contents %}